@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');
::selection{background: invisible;}::-moz-selection{background: invisible;}

*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
	font-family:Quicksand, sans-serif;
	/*default pointer on all elements*/
	cursor: pointer;
	cursor: default;

	background: #6d9d4b;
}

.wrapper{
	width:60%;
	height:100%;

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin:auto;

	background:#a0d28d;
}

.pomodoro{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 15px;
	padding: 20px 20px 40px 20px;

	background:#86bb71;
}

.timers{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.timer-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin:10px;
}
.length-box{
	display:flex;
	justify-content: center;
	align-items: center;

	margin:5px;

	width:100px;
	height:100px;

	background: #6d9d4b;
	border-radius:15px;

	font-size:24pt;
	font-weight: 700;
	color: #385b1f;
}

.time{
	display:flex;
	justify-content: center;
	align-items: center;
	/*flex-grow: 16;*/

	width:70%;
}

.time-change{
	display: flex;
	flex-direction: column;

	height: 100%;
	width:30%;
	/*flex-grow: 4;*/

	/*border-radius:0 15px 15px 0;*/
}

.ch-button{
	display: flex;

	justify-content: center;
	align-items: center;

	height: 50%;
	width:100%;

	background:#385b1f;
	color: #284415;

	cursor:pointer;cursor:hand;
}
.ch-button:active{
	background: #284415;
	color:#6d9d4b;
}

.increment{
	border-radius:0 15px 0 0;
}
.decrement{
	border-radius: 0 0 15px 0;
}

.time-display{
	display:flex;
	justify-content: center;
	align-items: center;

	width: 80%;
	height: 10%;
	margin: 5px 0 15px 0;

	padding: 20px 0 20px 0;

	font-size: 48pt;
	font-weight: bold;

	color: #853F7E;
	background: #D28DCB;
	border-radius: 15px;
}

.controls{
	display: flex;
	flex-direction: row;
}

.state-button{
	display: flex;
	justify-content: center;
	align-items: center;

	position:relative;
	top:0;

    width: 100px;
    height: 100px;

	margin:0 15px 0 15px;

	font-weight: 700;
	font-size: 18pt;
	color: #853F7E;
    background: #D28DCB;
	border-radius: 50%;

	box-shadow: 0 10px #853F7E;

	transition: 20ms ease-in;

	cursor:pointer;cursor:hand;
}
.state-button:active{
	top: 10px;
	box-shadow: 0 0 #853F7E;
}

.reset{
	color:#6c5ea7;
	background: #998dd2;
	box-shadow: 0 10px #6c5ea7;
}

.label{
	color: #385b1f;
	font-weight: 700;
	font-size:18pt;
}

.lap-counter{
	color: #a0d28d;
	font-family: Quicksand;
	font-weight: 700;
	font-size: 420pt;
	/*font-style: italic;*/

	text-align: center;

	position:absolute;
	z-index: 1;
}

.anything-that-isnt-lap{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	z-index: 100;
}
